*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000e24;
}
.logo{
    height:150px;
    padding:5px 70px;   
}
.main .left{
    padding: 0;
    position:relative;
}
.list-group-item{
    margin-left: 60px;
    background-color: #000e24;
    border: none;
}
div .upload .playlist{
    display: flex;
}
#playlist1, #playlist2, #playlist3{
    font-size: 15px;
    color: white;
    text-decoration: none;

}
#playlist1:hover, #playlist2:hover, #playlist3:hover{
    color: #AB5000;
    transition: .1s;
}
.songs-row {
    background-color: #1C1B17;
    height: 100vh;
}
.songs-col {
    height: 100vh;
    padding-left: 0% !important;
    padding-right: 0% !important;
}
#uploadMusic{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
#uploadMusic:hover{
    color: #AB5000;
    transition: .1s;
}
#allSongs{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
#allSongs:hover{
    color: #AB5000;
    transition: .1s;
}
#createPlaylist{
    font-size: 15px;  
    color: white;
    text-decoration: none; 
}
#createPlaylist:hover{
    color: #AB5000;
    transition: .1s;
}  

.table thead th{
    background: #1C1B17;
}
.table tbody{
    background: ##1C1B17;
}
.table{
    width: 900px;
    height: 200px;
    margin-top: 50px;
    color: white;    
    margin-left: 20px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color:  #AB5000;
}
.table tbody{
    margin: 50px;
}
.input{
    border: 0;
    outline: none;
    height: 30px;
    width: 550px;
    margin-top: 60px;
    margin-left: 20px;
    background-color:#1C1B17; 

}
.search {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}
h2{
    color: #AB5000;
    margin-top: 40px;
    font-size: 50px;
    margin-left: 20px;
}
#search-field::placeholder {
    color: #AB5000;
}

#uploadMusicModal .modal-content{
    border:none;

}
#uploadMusicModal .modal-header{
    background: #3a3d3b;
    color:black;
    border-bottom:none;
}
#uploadMusicModal .modal-header .modal-title{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
    opacity: 1;
    text-align: left;
    color: #AB5000;
}
#uploadMusicModal .modal-body{
    color:black;
    background-color:#3a3d3b;
;
}
#uploadMusicModal .modal-body .Files1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    text-align: center;
    color: #AB5000;
    background-color: #1C1B17;

}

#uploadMusicModal .modal-footer{
    background-color:#3a3d3b;
    border-top: 0 none;
}
.modal-footer .btn{
    color: #AB5000;
}

#createPlaylistModal .modal-content{
    border:3px solid #3a3d3b;

}
#createPlaylistModal .modal-header{
    background: #3a3d3b;
    color:#AB5000;
    border-bottom: 3px solid #3a3d3b;
}
#createPlaylistModal .modal-header .modal-title{
    font-family: lora;
    font-weight: bolder;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}
#createPlaylistModal .modal-body{
    color:#AB5000;
    background-color: #3a3d3b;
}
#createPlaylistModal .modal-body .drag-box{
    font-family: Sora;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    background-color:#3a3d3b;

}

#createPlaylistModal .modal-footer{
    background-color:#3a3d3b;
    border-top: 0 none;
}

.rewind{
    background-color: transparent;
    border: none;
    margin-left: -50px;
}
.play{
    background-color: transparent;
    border: none;
    height:100px;
    padding:5px 70px;  
   
}
.next{
    background-color: transparent;
    border: none;
}

.progress {
    height: 5px;
    border-radius: 2%;
    width: 700px;
    margin-left: 120px;
    margin-top: 30px;
}

.music-progress {
    width: 100%;
    height: inherit;
    margin-bottom: 12px;
    appearance: none;
}
.music-progress::-webkit-progress-value {
    background-color: #AB5000;
}

@media only screen and (max-width:700px){
    #sidebar{
        display: none;
    }
    }
@media only screen and (max-width:700px){

.table thead th{
    background: #1C1B17;
}
.table tbody{
    background: ##1C1B17;
}
.table{
    width: 425px;
    height: 150px;
    margin-top: 50px;
    color: white;    
    margin-left: 20px;
    margin-right: 20px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color:  #AB5000;
}
.table tbody{
    margin: 50px;
}



.rewind{
    background-color: transparent;
    border: none;
    margin-left: -50px;
}
.play{
    background-color: transparent;
    border: none;
    height:100px;
    padding:5px 70px;  
   
}
.next{
    background-color: transparent;
    border: none;
}

.progress {
    height: 5px;
    border-radius: 2%;
    width: 400px;
    margin-left: 30px;
    margin-top: 30px;
}

.music-progress {
    width: 100%;
    height: inherit;
    margin-bottom: 12px;
    appearance: none;
}
.music-progress::-webkit-progress-value {
    background-color: #AB5000;
}
.input{
    border: 0;
    outline: none;
    height: 30px;
    width: 400px;
    margin-top: 60px;
    margin-left: 20px;
    background-color:#1C1B17; 

}
.search {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}
h2{
    color: #AB5000;
    margin-top: 40px;
    font-size: 30px;
    margin-left: 20px;
}
#search-field::placeholder {
    color: #AB5000;
}
