@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

:root {
  --accent: #fff582;
  --accentHover: #8c874f;
  --dark80: rgba(40, 70, 89,.5);
  --dark40: rgba(40, 70, 89,.4);
  --light: #F5F9FC;
  --transition: all 0.3s ease 0s;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  overflow: auto;
}
body {
background-image:linear-gradient(var(--dark40),var(--dark40)),url('https://i.ytimg.com/vi/7PgRFQLg2Ko/maxresdefault.jpg');
height:100vh;
position:center;
background-size:cover;
background-repeat:no-repeat;
}
p,a,button{
  font-family: "Lora", sans-serif;
  color var(--ligth);
  text-decoration: none;
}
a, button{
  cursor: pointer;
}
main{
  height: 100%;
  display: grid;
  grid-template-columns: minmax(60px,1fr) repeat(6,minmax(50px,190px)) 
  minmax(60px, 1fr);
}
header{
  grid-column: 2 /span 6;
}
nav{
  display: flex;
  align-items: center;
  height: 80px;
}
.links{
  margin-left: auto;
}
.links a, .links button{
  font-size: 2.0625rem;
  font-weight: 400;
  transition: var(--transition);
}
.links a{
  margin-right: 50px;
}
.links a:hover{
  color: var(--accent);
}
.button_med{
  border-radius: 20px;
  border:none;
  background-color: var(--accent);
  padding: 8px 25px;
  transition: var(--transition);
  opacity: 60%;
}
.button_med:hover{
  background-color: var(--accentHover);
}
.info{
grid-column: 2 / span 2;
}
.button_L{
  border-radius: 20px;
  border:none;
  background-color: var(--accent);
  padding: 8px 25px;
  transition: var(--transition);
  opacity: 60%;
  display: flex;
  margin-top: 20px;
}
.button_D{
  border-radius: 20px;
  border:none;
  background-color: var(--accent);
  padding: 8px 25px;
  transition: var(--transition);
  opacity: 60%;
  display: flex;
  margin-top: 20px;
}
.button_L:hover{
  background-color: var(--accentHover);
}
.button_D:hover{
  background-color: var(--accentHover);
}
.pictures{
grid-column: 2 /span 7;
background-color: var(--dark80);
align-self: end;
padding: 30px 0 30px 40px;
display: flex;
flex-wrap: wrap;
align-items: center;
}
.pictures img{
  height: 120px;
  margin-right: 20px;
  border-radius: 20px;
}
.pic1:hover{
 opacity: 60%;
}
.pic2:hover{
 opacity: 60%;
}
